* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul li {
  list-style: none; }

#contenido {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./img/backgound-login.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; }
  #contenido h1 {
    padding: 1rem;
    font-size: 3rem;
    color: #0e350c; }
  #contenido h2 {
    color: #0e350c;
    font: 2.5rem;
    padding-left: 1rem; }

.form-contain {
  display: flex;
  justify-content: space-around; }

.formularioIngreso, .formularioRegistro {
  display: grid;
  gap: 1em;
  grid-auto-columns: auto;
  background-color: rgba(39, 94, 33, 0.689);
  backdrop-filter: blur(5px);
  height: 400px;
  width: 350px;
  margin: 100px;
  text-align: center;
  border-radius: 8px; }
  .formularioIngreso h2, .formularioRegistro h2 {
    align-self: center;
    text-align: start;
    margin-top: 30px;
    padding: 10px;
    color: #002500;
    background-color: #f2f2f2bd;
    border-top-right-radius: 50px;
    border: 1px solid #2a5425;
    border-left: none;
    margin-right: 120px; }
  .formularioIngreso input, .formularioRegistro input {
    background-color: #2a542500;
    font-size: 1rem;
    padding: .8em 1em;
    border: none;
    outline: none;
    border-bottom: solid 1px #002500; }
    .formularioIngreso input::placeholder, .formularioRegistro input::placeholder {
      color: #f2f2f2;
      font-size: small; }

#formButtonIngreso,
#formButtonRegistro {
  background-color: #f2f2f2bd;
  color: #0e350c;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
  margin: 20px;
  height: 3rem;
  width: auto; }
  #formButtonIngreso:hover,
  #formButtonRegistro:hover {
    background-color: #13121269;
    color: #f2f2f2; }

#contenido-plazofijo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/background-plazofijo.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: start;
  background-color: #fcfcfc8d;
  height: 400px;
  width: 350px;
  padding: 25px;
  margin-top: 150px;
  border-radius: 8px;
  border: solid 1px #0e350c;
  color: #2a5425; }
  .formulario h1 {
    text-align: center;
    padding-bottom: 15px;
    color: #0e350c; }

.form-capital {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none; }

.form-button {
  background-color: #f2f2f2db;
  color: #0e350c;
  cursor: pointer;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px; }
  .form-button:hover {
    background-color: #13121269;
    color: #f2f2f2; }

.valor-dolar {
  background-color: #6eb8678d;
  backdrop-filter: blur(1px);
  color: #0e350c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  height: 400px;
  width: 350px;
  padding: 25px;
  margin-top: 150px;
  border-radius: 8px;
  border: 1px solid #0e350c;
  font-size: 1.8rem; }
  .valor-dolar h3 {
    color: #0e350c; }
