#contenido-plazofijo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/bg-plazofijo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.previous-arrow{
    padding: 1rem;
}

.form-contain{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: start;
    background-color: #fcfcfc8d;
    height: 400px;
    width: 350px;
    padding: 25px;
    margin-top: 50px;
    border-radius: 8px;
    border: solid 1px $secondary;
    color: $secondary;
    h1{
        text-align: center;
        padding-bottom: 15px;
        color: $greenlight;
    }
}

.form-capital{
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.form-button{
    background-color: #f2f2f2db;
    color: $secondary;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid $greenlight;
    border-radius: 8px;
    padding: 10px;
    &:hover{
        background-color: #131212a7;
        color: $light;
    }
}

.valor-dolar{
    background-color: #6eb86762;
    backdrop-filter: blur(3px);
    color: $secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
    height: 400px;
    width: 350px;
    padding: 25px;
    margin-top: 50px;
    border-radius: 8px;
    border: 1px solid $secondary;
    font-size: 1.8rem;
    h3{
        color: $secondary;
    }
}
